// Color variables
$unchecked-type-color: lightgray;
$checked-type-color: darkgray;
$hover-type-color: green;
$page-background-color: lightblue;
$font-color: black;
$text-entry-color: #555;
$font-stack: Arial, sans-serif;
$select-menu-color: purple;

$border-color: red;
$mask-color: rgba(0, 0, 0, 0.2);
$shadow-color: #000;
