@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

@mixin mqh($size) {
  @media only screen and (minheight: $size) {
    @content;
  }
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
