// Color variables
$unchecked-type-color: red;
$checked-type-color: blue;
$hover-type-color: green;
$page-background-color: pink;
$font-color: black;
$text-entry-color: gray;
$font-stack: Arial, sans-serif;
$select-menu-color: purple;
