// Color variables
$unchecked-type-color: lightgray;
$checked-type-color: darkgray;
$hover-type-color: green;
$page-background-color: white;
$font-color: black;
$text-entry-color: gray;
$font-stack: Arial, sans-serif;
$select-menu-color: purple;
