#typeField {
  input[type="radio"] {
    appearance: none;
    // may need to change background color to remove gradient on old iOS
    margin: 0;
  }
  label {
    display: inline-block;
    min-width: 48px;
    min-height: 48px;
    border: 1px solid red;
    //width: 200px;
  }

  label:hover {
    background-color: red;
  }
  .unchecked {
    background-color: aqua;
  }
  .checked {
    background-color: blueviolet;
  }
}
