#typeField {
  display: flex;
  border-radius: 10px;

  input[type="radio"] {
    appearance: none;
    // may need to change background color to remove gradient on old iOS
    margin: 0;
  }
  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 48px;
    min-height: 48px;
    //border: 1px solid red;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    font-size: 5vmin;
  }

  label:hover {
    //background-color: $hover-type-color;
    filter: brightness(75%);
  }
  .unitTypeLabel {
    background-color: $unchecked-type-color;
  }
  .checked {
    background-color: $checked-type-color;
  }
}
