#typeField {
  min-width: 200px;
  max-width: 80vw;
  display: flex;

  input[type="radio"] {
    appearance: none;
    // may need to change background color to remove gradient on old iOS
    margin: 0;
  }
  label {
    display: inline-block;
    min-width: 48px;
    min-height: 48px;
    //border: 1px solid red;
    width: 100%;
    border: 1px solid black;
    text-align: center;
  }

  label:hover {
    //background-color: $hover-type-color;
    filter: brightness(75%);
  }
  .unitTypeLabel {
    background-color: $unchecked-type-color;
  }
  .checked {
    background-color: $checked-type-color;
  }
}
